# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Reportes y caches de pytest / Allure
.pytest_cache/
allure-results/

# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
